@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';


:root {
    --surfaceColor: #EAEAEA;
    --surfacePrimaryColor: #EAEAEA;
    --onSurface: #070707;
    --onSurfacePrimary: #000000;
    --borderColor: #0909095f;
    --accentColor: #F79107;
    --onAccentColor: #FFFFFF;
}

html,
body {
    @apply bg-[var(--surfaceColor)] text-[var(--onSurface)];
}

.inverseSurface {
    @apply bg-[var(--surfacePrimaryColor)] text-[var(--onSurfacePrimary)];
}


/* Ensure app content stays above the grid */
body>* {
    position: relative;
    z-index: 1;
}